body {
	font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
	font-size: 14px;
}

.navbar, .panel .panel-heading{
	background-color:#373737;
}

.navbar-default .navbar-brand, .panel .panel-heading{
color:#F2F2F2;
}

.list-group > a.active, .pagination>.active>a, .list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus, .dropdown-menu>.active>a, .dropdown-menu>.active>a:hover{
color:#F2F2F2;
background: #373737;
border-color: #D5D3D4;
}

#nav > .active > a{
color:#F2F2F2;
background: #6E6E6E;
border-color: #D5D3D4;
}

.list-group > a.deactive:hover, #add:hover, .pagination>.active>a:hover, .pagination>li>a:hover  {
color:#F2F2F2;
background-color: #6E6E6E;
border-color: #D5D3D4;
}

#add{
	color:#F2F2F2;
}


.navbar-default .navbar-brand:hover{
color:#BDBDBD;
background-color:#373737;
}

.btn{
color:#F2F2F2;
background-color:#373737;
}

.btn:hover{
background:#BDBDBD;
}

 #btn-addRow{
 	float: right;
 	margin: 10px 0px;
 }
 #btn-sendIn{
 	 float: left;
 	margin: 10px 0px;
 }

.nopadding {
padding: 0;
 }
 
 #myModal{
 outline: none;
 top:0;
 }
 
 .panel-title{
 	font-size: 18px;
 }

 .panel-heading{
 	padding: 15px;
 }
 .dropdown-toggle, .pagination>li>a{
background:#BDBDBD;
color:#373737;
} 

 a{
 color:#373737;
 }


 h1{
 	font-size: 24px;
 	font-weight: bold;
 }

 h2{
 	font-size: 24px;
 	margin:20px 0 20px 0;
 }

 h3{
 	font-size: 20px;

 }

 .row{
 	padding-left: 0px;
 	padding-right: 0px;
 	margin-left: 0px;
 	margin-right: 0px;
 }


 .iframe{
 	height: 2500px;

 }
 .navbar{
 	min-height: 60px;
 }

 .navbar-brand{
 	height: 60px;
 	padding: 10px 15px;
 }

 .navbar-nav>li>a{
 	padding:20px;
 }

.navbar-right{
 	padding: 15px 20px 0 0;
 }


 .navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse{
 	max-height: 370px;
 }

#survey-link{
	width:100%;
	background-color: #f5f5f5;
	border:none;
}

.well-sm{
	padding:30px;
}


#survey-link{
	width:80%;
	color: #2C8BB7;
}


.table-form{
	width:100%;
	border: none;
}

#example_filter{
	float:right;
	width:auto;
}

.jumbotron{
	padding-top: 10px;
	padding-bottom: 20px;

}

.pagination{
	float:right;
}

.sidebar{
	padding:50px 20px 50px 20px;
	background-color: #D5D3D4;
}

.main{
		padding-right:10px;
		padding-left:10px; 
	}

hr{
	margin-bottom: 15px;
	margin-top: 15px;
}

.innerContainer{
	margin-left: 30px;
	margin-right:30px;
}

/* Large desktop */
@media (min-width: 1400px) { 


}


 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) { 
	body{
		padding-left: 0px;
		padding-right: 0px;
	}

 }
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) { 

	body{
		padding-left: 0px;
		padding-right: 0px;
	}

	.innerContainer{
		margin-left: 15px;
		margin-right:15px;
	}
 }
 
/* Landscape phones and down */
@media (max-width: 480px) {

	body{
		padding-left: 0px;
		padding-right: 0px;
	}

	#uig-logo{
		width:220px;
		margin-top: 5px;
	}

	.container{
		padding-left: 0px;
		padding-right: 0px;
	}

	.about-img{
		width:100%;
	}

	 #btn-addRow{
 		float: left;
 		margin: 10px 0px;
 }

 .wrapper{
 	margin-top: 60px;
 }
}
 
  #spinner{
 	display: table-cell;
 	vertical-align: middle;
 	width: 50px;
 	height: 52px;
 	z-index: 2;
 	position: relative;
 	border-radius: 20px;
 	margin: 0px auto;
 }


 .report_element{
 	background-color: #eaeaea;
 	padding:20px;
 	margin: 5px;
 }


 .page-header{
 	margin-top: 30px;
 }




/******
* FORMS
*******/


.form-container {
   border: 1px solid #ffffff;
   background: #ffffff;
   background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#ffffff));
   background: -webkit-linear-gradient(top, #ffffff, #ffffff);
   background: -moz-linear-gradient(top, #ffffff, #ffffff);
   background: -ms-linear-gradient(top, #ffffff, #ffffff);
   background: -o-linear-gradient(top, #ffffff, #ffffff);
   background-image: -ms-linear-gradient(top, #ffffff 0%, #ffffff 100%);
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 0px 0;
   -moz-box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 0px 0;
   box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 0px 0;
   font-family: 'Helvetica Neue',Helvetica,sans-serif;
   text-decoration: none;
   vertical-align: middle;
   min-width:300px;
   padding:20px;
   width:300px;
   }
.form-field {
   border: 1px solid #eaedf1;
   background: #eaedf1;
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   border-radius: 4px;
   color: #9ea7b3;
   -webkit-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
   box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
   padding:8px;
   margin-bottom:20px;
   width:280px;
   }
.form-field:focus {
   background: #323a45;
   color: #ffffff;
   }
.form-container h2 {
   text-shadow: #ffffff 0 1px 0;
   font-size:18px;
   margin: 0 0 10px 0;
   font-weight:bold;
   text-align:center;
    }
.form-title {
   margin-bottom:10px;
   text-shadow: #ffffff 0 1px 0;
   }

.form-horizontal .control-label{
	text-align: left;
}




.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
.container-fluid{
	padding-right:0px;
}



