body {
font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
font-size: 14px;
}

.navbar, .panel .panel-heading{
background-color:#373737;
}

.navbar-default .navbar-brand, .panel .panel-heading{
color:#F2F2F2;
}

.list-group > a.active, .pagination>.active>a, .list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus, .dropdown-menu>.active>a, .dropdown-menu>.active>a:hover{
color:#F2F2F2;
background: #373737;
border-color: #F2F2F2;
}

#nav > .active > a{
color:#F2F2F2;
background: #6E6E6E;
border-color: #F2F2F2;
}

.list-group > a.deactive:hover, #add:hover, .pagination>.active>a:hover, .pagination>li>a:hover  {
color:#F2F2F2;
background-color: #6E6E6E;
border-color: #F2F2F2;
}

#add{
color:#F2F2F2;
}


.navbar-default .navbar-brand:hover{
color:#BDBDBD;
background-color:#373737;
}

.btn{
color:#F2F2F2;
background-color:#373737;
}

.btn:hover{
background:#BDBDBD;
}

 #btn-addRow{
 	float: right;
 	margin: 10px 0px;
 }
 #btn-sendIn{
 	 float: left;
 	margin: 10px 0px;
 }

.nopadding {
padding: 0;
 }
 
 .panel-title{
 	font-size: 18px;
 }
 .dropdown-toggle, .pagination>li>a{
background:#BDBDBD;
color:#373737;
} 

 a{
 color:#373737;
 }

 h1{
 	font-size: 24px;
 }

 h2{
 	font-size: 24px;
 	margin:20px 0 20px 0;
 }

 h3{
 	margin-top: 50px;
 }

 .iframe{
 	max-width: 1200px;
 	height: 1200px;

 }
 .navbar{
 	min-height: 60px;
 }

 .navbar-brand{
 	height: 60px;
 	padding: 10px 15px;
 }

 .navbar-nav>li>a{
 	padding:20px;
 }

.navbar-right{
 	padding: 15px 20px 0 0;
 }


 .navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse{
 	max-height: 370px;
 }

	#survey-link{
		width:100%;
		background-color: #f5f5f5;
		border:none;
	}


@media (min-width: 992px){

	#survey-link{
		width:80%;
	}
}

.table-form{
	width:100%;
	border: none;
}

#example_filter{
	float:right;
	width:auto;
}

.jumbotron{
	padding-top: 10px;
	padding-bottom: 20px;

}

.pagination{
	float:right;
}

.sidebar{
	padding:50px 20px 50px 20px;
}

.col-md-12{
		width: 100%;
	}

/* Large desktop */
@media (min-width: 1200px) { ... }
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) { 

 }
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) { 

	body{
		padding-left: 0px;
		padding-right: 0px;
	}

	 

 }
 
/* Landscape phones and down */
@media (max-width: 480px) { 

	#uig-logo{
		width:220px;
		margin-top: 5px;
	}

	.container{
		padding-left: 0px;
		padding-right: 0px;
	}

	.about-img{
		width:100%;
	}

	 #btn-addRow{
 		float: left;
 		margin: 10px 0px;
 }

 .wrapper{

 	margin-top: 60px;
 }

 }



